
*.pyc
*.rc
workspace/
testing/
prelim/
*.o*
*html
.bundles/
signac_project_document.json
r125-iter1-density/data/initial-config/em.mdp
r125-iter1-density/data/initial-config/ff.xml
r125-iter1-density/data/initial-config/mdout.mdp
r125-iter1-density/data/initial-config/system.gro
r125-iter1-density/data/initial-config/system.top
r125-iter1-density/data/initial-config/system_em.edr
r125-iter1-density/data/initial-config/system_em.log
r125-iter1-density/data/initial-config/system_em.tpr
r125-iter1-density/data/initial-config/system_em.trr
submit.sge
*.ipynb_checkpoints
*.egg-info*
*DS_Store
